<?xml version="1.0"?>

<robot name="f1_description" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Constants for robot dimensions -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="stick_mass" value="0.00001"/>

    <!-- simplified collision value -->
    <xacro:property name="trunk_width" value="0.32"/>
    <xacro:property name="trunk_length" value="0.698"/>
    <xacro:property name="trunk_height" value="0.155"/>
    <xacro:property name="hip_radius" value="0.064"/>
    <xacro:property name="hip_length" value="0.056"/><!-- -->
    <xacro:property name="thigh_shoulder_radius" value="0.064"/>
    <xacro:property name="thigh_shoulder_length" value="0.134"/>
    <xacro:property name="thigh_width" value="0.047"/>
    <xacro:property name="thigh_height" value="0.07"/>
    <xacro:property name="calf_width" value="0.032"/>
    <xacro:property name="calf_height" value="0.05"/>
    <xacro:property name="foot_radius" value="0.04"/>
    <xacro:property name="stick_radius" value="0.01"/>
    <xacro:property name="stick_length" value="0.2"/>

    <!-- kinematic value -->
    <xacro:property name="thigh_offset" value="0.1201"/>    <!-- thigh_offset_y--> 
    <xacro:property name="thigh_length" value="0.2835"/>
    <xacro:property name="calf_length" value="0.29436"/>

    <!-- leg offset from trunk center value -->
    <xacro:property name="leg_offset_x" value="0.3495"/>    <!-- hip_offset_x--> 
    <xacro:property name="leg_offset_y" value="0.094"/>    <!-- hip_offset_y--> 
    <xacro:property name="trunk_offset_z" value="0.01675"/>
    <xacro:property name="hip_offset" value="0.1201"/>    <!-- thigh_offset_y--> 

    <!-- offset of link and rotor locations (left front) -->
    <xacro:property name="hip_offset_x" value="0.3495"/>    <!-- 相对于质心的位置--> 
    <xacro:property name="hip_offset_y" value="0.094"/>
    <xacro:property name="hip_offset_z" value="0.0"/>
    <xacro:property name="hip_rotor_offset_x" value="0.1962"/>
    <xacro:property name="hip_rotor_offset_y" value="0.094"/>
    <xacro:property name="hip_rotor_offset_z" value="0.0"/>

    <xacro:property name="thigh_offset_x" value="0"/>    <!-- 相对于hip坐标系的位置--> 
    <xacro:property name="thigh_offset_y" value="0.1201"/>
    <xacro:property name="thigh_offset_z" value="0.0"/>
    <xacro:property name="thigh_rotor_offset_x" value="0.0"/>
    <xacro:property name="thigh_rotor_offset_y" value="-0.03917"/>
    <xacro:property name="thigh_rotor_offset_z" value="0.0"/>

    <xacro:property name="calf_offset_x" value="0.0"/>   <!-- 相对于thigh的位置--> 
    <xacro:property name="calf_offset_y" value="0.0"/>
    <xacro:property name="calf_offset_z" value="-0.2835"/>
    <xacro:property name="calf_rotor_offset_x" value="0.0"/>
    <xacro:property name="calf_rotor_offset_y" value="-0.08583"/>
    <xacro:property name="calf_rotor_offset_z" value="0.0"/>


    <!-- joint limits -->
    <xacro:property name="damping" value="0"/>
    <xacro:property name="friction" value="0"/>
    <xacro:property name="hip_position_max" value="0.75"/>
    <xacro:property name="hip_position_min" value="-0.75"/>
    <xacro:property name="hip_velocity_max" value="19.69"/>
    <xacro:property name="hip_torque_max" value="91.0035"/>
    <xacro:property name="thigh_position_max" value="3.5"/>
    <xacro:property name="thigh_position_min" value="-1.0"/>
    <xacro:property name="thigh_velocity_max" value="23.32"/>
    <xacro:property name="thigh_torque_max" value="93.33"/>
    <xacro:property name="calf_position_max" value="-0.6"/>
    <xacro:property name="calf_position_min" value="-2.6"/>
    <xacro:property name="calf_velocity_max" value="15.55"/>
    <xacro:property name="calf_torque_max" value="140"/>

    <!-- dynamics inertial value -->
    <!-- trunk -->
    <xacro:property name="trunk_mass" value="37.320"/>
    <xacro:property name="trunk_com_x" value="-0.00147346"/>
    <xacro:property name="trunk_com_y" value="-0.00134613"/>
    <xacro:property name="trunk_com_z" value="-0.01922514"/>
    <xacro:property name="trunk_ixx" value="0.16052215"/>
    <xacro:property name="trunk_ixy" value="-0.00030887"/>
    <xacro:property name="trunk_ixz" value="-0.00194035"/>
    <xacro:property name="trunk_iyy" value="0.84368781"/>
    <xacro:property name="trunk_iyz" value="-0.00097283"/>
    <xacro:property name="trunk_izz" value="0.90615527"/>

    <!-- hip (left front) -->
    <xacro:property name="hip_mass" value="1.984"/>
    <xacro:property name="hip_com_x" value="-0.02119690"/> <!-- 质心相对于hip关节的位置--> 
    <xacro:property name="hip_com_y" value="-0.01435984"/>
    <xacro:property name="hip_com_z" value="0.00059701"/>
    <xacro:property name="hip_ixx" value="0.00313517"/>
    <xacro:property name="hip_ixy" value="-0.00063439"/>
    <xacro:property name="hip_ixz" value="-0.00005951"/>
    <xacro:property name="hip_iyy" value="0.00705816"/>
    <xacro:property name="hip_iyz" value="0.00005638"/>
    <xacro:property name="hip_izz" value="0.00626340"/>

    <xacro:property name="hip_rotor_mass" value="0.121"/><!-- 质心相对于hip转子的位置--> 
    <xacro:property name="hip_rotor_com_x" value="0.0"/>
    <xacro:property name="hip_rotor_com_y" value="0.0"/>
    <xacro:property name="hip_rotor_com_z" value="0.0"/>
    <xacro:property name="hip_rotor_ixx" value="0.000103801"/>
    <xacro:property name="hip_rotor_ixy" value="0.0"/>
    <xacro:property name="hip_rotor_ixz" value="0.0"/>
    <xacro:property name="hip_rotor_iyy" value="0.000054638"/>
    <xacro:property name="hip_rotor_iyz" value="0.0"/>
    <xacro:property name="hip_rotor_izz" value="0.000054638"/>

    <!-- thigh -->
    <xacro:property name="thigh_mass" value="2.459"/><!-- 重心相对于thigh关节的位置-->
    <xacro:property name="thigh_com_x" value="-0.00473154"/>
    <xacro:property name="thigh_com_y" value="-0.04261310"/>
    <xacro:property name="thigh_com_z" value="-0.03123620"/>
    <xacro:property name="thigh_ixx" value="0.02367324"/>
    <xacro:property name="thigh_ixy" value="-0.00066157"/>
    <xacro:property name="thigh_ixz" value="-0.00186780"/>
    <xacro:property name="thigh_iyy" value="0.02390597"/>
    <xacro:property name="thigh_iyz" value="-0.00404389"/>
    <xacro:property name="thigh_izz" value="0.00849196"/>

    <xacro:property name="thigh_rotor_mass" value="0.121"/>
    <xacro:property name="thigh_rotor_com_x" value="0.0"/>
    <xacro:property name="thigh_rotor_com_y" value="0.0"/>
    <xacro:property name="thigh_rotor_com_z" value="0.0"/>
    <xacro:property name="thigh_rotor_ixx" value="0.000103801"/>
    <xacro:property name="thigh_rotor_ixy" value="0.0"/>
    <xacro:property name="thigh_rotor_ixz" value="0.0"/>
    <xacro:property name="thigh_rotor_iyy" value="0.000054638"/>
    <xacro:property name="thigh_rotor_iyz" value="0.0"/>
    <xacro:property name="thigh_rotor_izz" value="0.000054638"/>

    <!-- calf -->
    <xacro:property name="calf_mass" value="0.48137357"/><!-- 质心相对于calf关节的位置-->
    <xacro:property name="calf_com_x" value="0.00091003"/>
    <xacro:property name="calf_com_y" value="0.00001301"/>
    <xacro:property name="calf_com_z" value="-0.1479996"/>
    <xacro:property name="calf_ixx" value="0.00736746"/>
    <xacro:property name="calf_ixy" value="-0.00000003"/>
    <xacro:property name="calf_ixz" value="-0.00018186"/>
    <xacro:property name="calf_iyy" value="0.00745747"/>
    <xacro:property name="calf_iyz" value="0.00000137"/>
    <xacro:property name="calf_izz" value="0.00014153"/>

    <xacro:property name="calf_rotor_mass" value="0.121"/>
    <xacro:property name="calf_rotor_com_x" value="0.0"/>
    <xacro:property name="calf_rotor_com_y" value="0.0"/>
    <xacro:property name="calf_rotor_com_z" value="0.0"/>
    <xacro:property name="calf_rotor_ixx" value="0.000103801"/>
    <xacro:property name="calf_rotor_ixy" value="0.0"/>
    <xacro:property name="calf_rotor_ixz" value="0.0"/>
    <xacro:property name="calf_rotor_iyy" value="0.000054638"/>
    <xacro:property name="calf_rotor_iyz" value="0.0"/>
    <xacro:property name="calf_rotor_izz" value="0.000054638"/>

    <!-- foot -->
    <xacro:property name="foot_mass" value="0.05"/>

</robot>
